@import '@/common/style/base.scss';
@import '@/component/layout/style/noBottom.scss';
.detail{
    position: relative;
    padding: rem(20);
    box-sizing: border-box;
    .detail-title{
        font-size:rem(28);
        color:#000;
        font-weight: bold;
        margin-bottom: rem(10)
    }
    .detail-img{
        background: no-repeat;
        background-size: cover;
        margin-bottom: rem(20);
        width: 100%;
        height: rem(500);
    }   
    .detail-content{
        font-size: rem(18);
        line-height: rem(56);
        margin-bottom: rem(20)
    } 
    .detail-user{
        font-size:rem(14);
        color: #8c8c8c;
        margin-bottom: rem(25);
    }
}