@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

html, html body {
  font-family: 'PingFangSC-Regular', 'Verdana', 'Arial', '微软雅黑', '宋体'; }

* {
  margin: 0;
  padding: 0; }

html, html body {
  font-family: 'PingFangSC-Regular', 'Verdana', 'Arial', '微软雅黑', '宋体'; }

.site-top {
  height: 100%;
  padding-left: 0.2rem;
  display: flex;
  align-items: center; }
  .site-top h1 {
    background: url("http://static.qiecdn.com/static-mobile/03081859/common/res/index/logo-new.png") no-repeat;
    background-size: 2.4rem 0.82667rem;
    height: 0.82667rem;
    width: 2.4rem; }
  .site-top .refre {
    position: absolute;
    right: 0.26667rem;
    top: 0.26667rem;
    height: 0.8rem;
    align-items: center;
    justify-content: center;
    font-size: 0.26667rem;
    color: #fff;
    background: #000;
    border-radius: 50%;
    display: flex;
    width: 0.8rem;
    text-decoration: none; }

* {
  margin: 0;
  padding: 0; }

html, html body {
  font-family: 'PingFangSC-Regular', 'Verdana', 'Arial', '微软雅黑', '宋体'; }

.site-bottom {
  height: 100%;
  display: flex; }
  .site-bottom a {
    display: block;
    height: 100%;
    font-size: 0.29333rem;
    letter-spacing: 0.02667rem;
    font-weight: bold;
    color: #000;
    background: #fff;
    box-sizing: border-box;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none; }
    .site-bottom a.cur {
      background: #ff5655;
      color: #fff; }

html, html body {
  height: 100%; }

.site-wrap {
  box-sizing: border-box;
  height: 100%;
  width: 100%; }
  .site-wrap .site-header {
    height: 1.33333rem;
    margin-bottom: -1.33333rem;
    position: relative;
    z-index: 1; }
  .site-wrap .site-footer {
    position: relative;
    z-index: 1;
    height: 1.33333rem;
    margin-top: -1.33333rem; }
  .site-wrap .site-content {
    box-sizing: border-box;
    height: 100%;
    padding-top: 1.33333rem;
    padding-bottom: 1.33333rem; }
    .site-wrap .site-content .site-content-inner {
      height: 100%;
      overflow: scroll;
      -webkit-overflow-scrolling: touch; }

.site-wrap.no-bottom .site-content {
  padding-bottom: 0; }

.pwapush-form {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #ff5655;
  padding-top: 1.33333rem; }
  .pwapush-form input {
    width: 8.66667rem;
    height: 0.66667rem;
    font-size: 0.37333rem;
    margin: 0 auto;
    padding: 0.2rem;
    display: block;
    margin-bottom: 0.73333rem; }
  .pwapush-form p {
    height: 0.72rem;
    width: 8.66667rem;
    line-height: 0.66667rem;
    font-size: 0.37333rem;
    padding: 0.2rem;
    color: #fff;
    text-align: center;
    background: green;
    margin: 0 auto; }
  .pwapush-form span {
    display: block;
    width: 8.66667rem;
    height: 6.66667rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0.26667rem;
    color: #000;
    background: #fff;
    margin: 0.66667rem auto; }

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiJzc3IvcHdhcHVzaC9pbmRleC5jc3MiLCJzb3VyY2VSb290IjoiIn0=*/