@import '@/common/style/base.scss';
@import '@/component/layout/style/noBottom.scss';
.pwapush-form{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #ff5655;
    padding-top: rem(100);
    input {
        width: rem(650);
        height: rem(50);
        font-size: rem(28);
        margin: 0 auto;
        padding: rem(15);
        display: block;
        margin-bottom: rem(55);
    }
    p{
        height: rem(54);
        width: rem(650);
        line-height: rem(50);
        font-size: rem(28);
        padding: rem(15);
        color:#fff;
        text-align: center;
        background: green;
        margin: 0 auto;
    }
    span{
        display: block;
        width: rem(650);
        height: rem(500);
        box-sizing: border-box;
        padding: rem(20);
        color:#000;
        background: #fff;
        margin: rem(50) auto;

    }
}